// # =================================================================
// # Hero Section
// # =================================================================

// # Hero generic classes
// # =================================================================
.hero {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.hero-title {
  font-weight: bold;
  color: $orange;
  margin-bottom: .5rem;
}

.hero-description {
  font-size: 1.8rem;
  color: $grayDark;
}

.hero-boxes {
  margin-top: 20px;
  margin-bottom: 20px;
}

// # Card
// # =================================================================
.heroCard {
  display: table;
  height: calc(100% - 98px);
  background-image: asset-url('dog.jpg');
  background-size: cover;
  background-position: center center;
  text-align: center;
  width: 100%;

  @media (max-width: #{$mobileBreak}) {
    .u-pushLeft10 {
      margin-left: 0;
    }
    input.typeahead,
    input.geocontrast {
      margin-bottom: 10px;
    }
  }
}

.heroCard--small {
  height: calc(40% - 98px);
  padding-top: 65px;
  padding-bottom: 45px;
}

.heroCard-middle {
  display: table-cell;
  vertical-align: middle;
}

.heroCard-title {
  font-size: 5.6rem;
  line-height: 6rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px rgba(0,0,0, 0.3);
}

.heroCard-description {
  color: #fff;
  font-size: 2.3rem;
  line-height: 2.8rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1px 1px 3px rgba(0,0,0, 0.3);
}

.heroCard-search {
  margin-bottom: 20px;
}

.heroCard-searchDescription {
  color: #fff;
  font-size: 1.3rem;
  margin-top: 20px;
}

.twitter-typeahead,
input.typeahead,
input.geocontrast,
.tt-hint,
.tt-input {
  width: 100% !important;
}

// # About
// # =================================================================
.heroAbout {
  background-color: #fff;
}

.heroShop {
  background: $grayLight;
}
