// # =================================================================
// # Product
// # =================================================================

// # Profile
// # =================================================================

.productProfile {
  background: #fff;
  border-bottom: 1px solid $grayLight;
}

.productProfile-info {
  padding: 20px 0;
}

.productProfile-img {
  padding: 20px;
}

.productProfile-title {
  margin-bottom: 0;
}

.productProfile-price {
  margin-top: 20px;
  margin-bottom: 20px;
  color: $grayDark;
}

.productProfile-currency {
  color: $orange;
  font-size: 2.4rem;
}

.productProfile-details {
  text-transform: uppercase;
  color: $grayDark;
}
