// # =================================================================
// # Profile
// # =================================================================

.profile {
  background: #fff;
  border-bottom: 1px solid $grayLight;
  padding: 30px 40px;
  margin-bottom: 70px;
  border-radius: 5px;

  &.no-margin {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.profile-maps {
  padding: 20px 0px;
}

.profile-info {
  padding: 30px 0;
}

.profile-infoList {
  display: inline-block;
}

.profile-img {
  padding: 20px 0;
}

.profile-title {
  margin-bottom: 5px;
  font-size: 3rem;
  line-height: 3.5rem;
  color: $orange;
  font-weight: normal;
}

.profile-price {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  color: $grayDark;
}

.profile-currency {
  color: $orange;
  font-size: 2.2rem;
}

.profile-details {
  text-transform: uppercase;
  color: $gray;
  font-size: 1.4rem;
}

.profile-detailsDesc {
  font-size: 1.6rem;
}

.profile-billingInfo {
  margin: 20px 0;
}

.profile-infoList {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
