// # =================================================================
// # Search
// # =================================================================


// # Search result
// # =================================================================
.searchResults {
  padding-top: 50px;
  padding-bottom: 80px;
  background: $grayLight;
}

.searchResults-filter {
  top: 20px;
  position: sticky;

  @media (max-width: #{$mobileBreak}) {
    position: relative;
    margin-bottom: 50px;
  }
}

.searchResults-list {
  border-radius: 5px;
  background-color: #fff;
}

.searchResults-header {
  padding: 20px 40px 25px;
  border-bottom: 1px solid $grayLight;
}

.searchResults-title {
  margin-bottom: 0;
  padding-top: 8px;
  font-size: 2.4rem;
  color: $orange;
  font-weight: bold;
}

.pin_geocontrast {
  top: 20px !important;
  left: auto !important;
  right: 20px !important;
}
