div = "#{Product.human_attribute_name(:name)}: #{@item.name}"
div == "#{Product.human_attribute_name(:description)}: #{@item.description}"
div == "#{Product.human_attribute_name(:technical_information)}: #{@item.technical_information}" if @item.technical_information
div = "#{Product.human_attribute_name(:brand)}: #{@item.brand}"
div = "#{Product.human_attribute_name(:reference)}: #{@item.reference}" if @item.reference
div = "#{Product.human_attribute_name(:sku)}: #{@item.sku}" if @item.sku
div = image_tag @item.image_1.url if @item.image_1?
div = image_tag @item.image_2.url if @item.image_2?
div = image_tag @item.image_3.url if @item.image_3?
div = number_to_currency(@item.price, precision: 2)
