.Boxes {
  text-align: center;
}

.Boxes-img {
  margin-bottom: 10px;
}

.Boxes-title {
  color: $orange;
  font-size: 2.1rem;
  font-weight: bold;
}

.Boxes-description {
  color: $grayDark;
}

.Boxes--highlighted {
  background: #FFF;
  padding: 40px;
  border-radius: 5px;

  .Boxes-description {
    text-align: center;
    font-size: 1.7rem;
    line-height: 2.3rem;
  }
}
