.Button {
  display: inline-block;
  border: 0;
  padding: 13px;
  background-color: $background-orange--button;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: $borderRadius--button;
  font-size: 1.4rem;
  transition: all .4 ease;

  &:hover,
  &:focus {
    background-color: $background-orangeLight--button;
    text-decoration: none;
    color: #fff;
  }

  &:active {
    background-color: $background-orangeDark--button;
  }
}

.Button--hero {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: bold;
  padding: 19px 20px;
}

.Button--neutral {
  background-color: $grayLight;
  color: $grayDark;
}

.Button--block {
  display: block;
  text-align: center;
  width: 100%;
}

// # ========== Button sizes

.Button--sm {
  font-size: 1.0rem;
  padding: 5px;
  text-transform: lowercase;
}


@media (max-width: #{$mobileBreak}) {
  .Button {
    width: 100%;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    font-size: 1.6rem;
  }
}
