.Button {
  display: inline-block;
  border: 0;
  padding: 19px 20px;
  background-color: $background-orange--button;
  color: #fff !important;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: $borderRadius--button;
  font-size: 1.4rem;
  line-height: 1.6rem;
  transition: all .4s ease;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $brownDark;
    text-decoration: none;
    color: #fff;
  }

  &:active {
    background-color: $background-orangeDark--button;
  }
}

.Button--hero {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: bold;
  padding: 19px 20px;
}

.Button--neutral,
.Button--neutral:visited {
  background-color: $grayLight;
  color: $grayDark !important;

  &:hover,
  &:active,
  &:focus {
    background-color: $background-orange--button;
    color: #fff !important;
  }
}

.Button--block {
  display: block;
  text-align: center;
  width: 100%;
}

// # ========== Button sizes

.Button--sm {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 3px 8px 4px;
  text-transform: lowercase;
}

.Button--md {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 13px 14px;
}
