.FilterList {
  list-style: none;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: sticky;
  top: 0;
  padding: 30px;
  font-size: 1.4rem;
}

.FilterList-header {
  border-bottom: 1px solid $grayLight;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.FilterList-body {
  padding: 20px;
}

.FilterList-title {
  font-size: 2.0rem;
  color: $orange;
  margin-bottom: 0;
  font-weight: bold;
  padding: 30px;
}

.FilterList-divider {
  color: $color-orange--filterList;
  font-weight: bold;

  &:not(:first-of-type) {
    margin-top: 10px;
  }
}

.FilterList-item {
  color: $color-gray--filterList;
  padding: 0;

  label,
  input {
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: normal;
  }

  input {
    position: relative;
    top: -3px;
  }
}

.FilterList-action {
  margin-top: 20px;

  @media (max-width: #{$mobileBreak}) {
    width: 100%;
  }
}
