input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="file"],
textarea {
  border: 0;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  display: inline-block;
  width: 100%;

  &::placeholder {
    color: $color-gray--form;
  }

}

input[type="checkbox"],
input[type="radio"] {
  transform: translateY(.4em);
  margin-right: .5rem;
  cursor: pointer;
}
