.Header {
  background-color: $background-orange--header;
  padding: 20px 0;
}

.Header-brand {
  float: left;
  background-image: asset-url('logo.png');
  background-size: cover;
  height: (88px / 1.5);
  width: (357px / 1.5);
  cursor: pointer;
}

.Header-nav {
  float: right;
  padding: 15px 10px;
}


@media (max-width: #{$mobileBreak}) {
  .Header-brand,
  .Header-nav {
    display: block;
    float: none;
  }

  .Header-brand {
    margin: 0 auto 20px;
  }
}
