.MenuList {
  background: #fff;
  border-radius: 5px;
}

.MenuList-item {
  &:not(:last-child) {
    border-bottom: 1px solid $grayLight;
  }
}

.MenuList-link {
  padding: 20px;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
