.Menu {
  list-style: none;
  margin: 0;
}

.Menu-item {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.Menu-link {
  color: #fff !important;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #fff;
  }
}

@media (max-width: #{$mobileBreak}) {
  .Menu {
    display: table;
    width: 100%;
  }

  .Menu-item {
    display: table-cell;
    width: 1%;
    margin: 0;
    text-align: center;
  }

  .Menu-link {
    font-size: 1.6rem;
  }
}
