.StoreList {
  @extend .clearfix;
  list-style: none;
  width: 100%;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 80px;
}

// # ========== Header
.StoreList-header {
  padding: 20px;
  border-bottom: 1px solid $grayLight;
}

.StoreList-Headertitle {
  margin-bottom: 0;
  padding-top: 8px;
  font-size: 2.4rem;
  color: $orange;
}


// # ========== Normal itens
.StoreList-item {
  padding: 20px 40px;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid $grayLight;
  }
  &:last-child {
    padding-bottom: 40px;
  }
}

.StoreList-block {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  // width: calc(100% - 700px);

  &:first-of-type {
    width: 100px !important;
  }
  &:nth-of-type(2) {
    width: 220px;
    @media (max-width: 1199px) {
      width: 180px;
    }
  }
  &:nth-of-type(6) {
    width: 137px !important;
  }

  &:not(:nth-of-type(2)) {
    width: calc((100% - 478px) / 3);
    @media (max-width: 1199px) {
      width: calc((100% - 438px) / 3);
    }
  }
}

.StoreList-title {
  font-size: 2.4rem;
  color: $orange;
  line-height: 1.8rem;
}

.StoreList-img {
  position: relative;
  width: 80px;
  height: 80px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.StoreList-price {
  line-height: 1.8rem;
}

@media (max-width: 990px) {
  .StoreList-block {
    width: 100%;
  }

  .StoreList-action {
    position: static;
    transform: translate(0);
    margin-top: 20px;
  }
}

@media (max-width: #{$mobileBreak}) {
  .StoreList-block,
  .StoreList-block:nth-of-type(6),
  .StoreList-block:first-of-type {
    float: none !important;
    width: 100% !important;
    text-align: center;
  }

  .StoreList-img {
    margin: 0 auto !important;
  }

  .StoreList-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .StoreList-action {
    display: block;
    position: static !important;
    transform: translateY(0) !important;
    margin-top: 10px;
    width: 100%;
    text-align: center;

    .Button {
      width: 100%;
    }
  }
}
